<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @whoweare.title %>
</p>

<p>
  <b>Description:</b>
  <%= @whoweare.description %>
</p>


<%= link_to 'Edit', edit_whoweare_path(@whoweare) %> |
<%= link_to 'Back', whoweares_path %>
