<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset></fieldset>

<div class="grid_7 alpha">
  <div class="field">
    <%= f.label :name, I18n.translate('contact.new.form.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name, I18n.translate('contact.new.form.last_name') %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :cell, I18n.translate('contact.new.form.cell') %><br />
    <%= f.text_field :cell %>
  </div>
  <div class="field">
    <%= f.label :office, I18n.translate('contact.new.form.office') %><br />
    <%= f.text_field :office %>
  </div>
  <div class="field">
    <%= f.label :email, I18n.translate('contact.new.form.email') %><br />
    <%= f.text_field :email %>
  </div>
</div>
<div class="grid_7 omega">
  <div class="field">
    <%= f.label :message, I18n.translate('contact.new.form.message') %><br />
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit I18n.translate('contact.new.form.send') %>
  </div>
</div>
<% end %>
