<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> evitaron que el mensaje fuese enviado.</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div>
  <div class="field">
    <%= f.label :name, I18n.translate('contact.new.form.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name, I18n.translate('contact.new.form.last_name') %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :cell, I18n.translate('contact.new.form.cell') %>
    <%= f.text_field :cell %>
  </div>
  <div class="field">
    <%= f.label :office, I18n.translate('contact.new.form.office') %>
    <%= f.text_field :office %>
  </div>
  <div class="field">
    <%= f.label :email, I18n.translate('contact.new.form.email') %>
    <%= f.text_field :email %>
  </div>
</div>
<div>
  <div class="field">
    <%= f.label :message, I18n.translate('contact.new.form.message') %>
    <%= f.text_area :message, :rows => 10 %>
  </div>
  <div class="actions">
    <%= f.submit I18n.translate('contact.new.form.send') %>
  </div>
</div>
<% end %>
