<%= page_title! "¿Qué hacemos?" %>
<% @whatdowedos.each do |whatdowedo| %>
  <h2 class="title">
           <%= whatdowedo.title %>
         </h2>
<% if session[:user_id] %>
<%= link_to 'Editar', edit_whatdowedo_path(whatdowedo), :class => 'btn edit' %>
<% end %>
         <ol>
           <li>
             <p>
               <%= simple_format(whatdowedo.description) %>
             </p>
           </li>

           </li>

         </ol>
<% end %>

<br />

<% if session[:user_id] and @whatdowedos.blank? %>
<%= link_to 'New Whatdowedo', new_whatdowedo_path %>
<% end %>
