<% page_title! "Contáctanos" %>

<% if session[:user_id] %>
  <div class="admin-controls">
    <%= link_to 'Agregar Contacto', new_address_path, :class => 'btn add' %>
  </div>
<% end %>



<ul>
<% @addresses.each do |address| %>
  <% if session[:user_id] %>
    <div class="admin-controls">
      <%= link_to 'Editar', edit_address_path(address), :class => 'btn edit' %>
    </div>
  <% end %>
  <li>
    <%= content_tag(:h2, address.title, :class => 'title') %>
    <%= simple_format(address.description) %>
  </li>
<% end %>
</ul>

<p>
  <%= link_to 'Envianos un mensaje', new_contact_path, :class => 'btn add' %>
</p>
