<ul id="menu">
            <li>
              <%= link_to_unless_current '¿Quiénes Somos?', root_path do %>
                <span>¿Quiénes Somos?</span>
              <% end %>
            </li>
            <li>
	         <%= link_to_unless_current '¿Qué Hacemos?', que_hacemos_path do %>
                <span>¿Qué Hacemos?</span>
              <% end %>
            </li>
            <li>
	          <%= link_to_unless_current '¿Cómo lo Hacemos?', como_lo_hacemos_path do %>
                <span>¿Cómo lo Hacemos?</span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current 'Clientes', clientes_path do %>
                <span>Clientes</span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current 'Equipo', equipo_path do %>
                <span>Equipo</span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current 'Videos', videos_path do %>
                <span>Videos</span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current 'Contáctenos', contacto_path do %>
                <span>Contáctenos</span>
              <% end %>
            </li>
            <% if !session[:user_id].blank? %>
            <li>
	          <%= link_to 'Desconectarse', 'logout' %>
	        </li>
	        <% end %>
          
          </ul>