<ul id="menu">
            <li>
              <%= link_to_unless_current I18n.t('whoweare'), quienes_somos_path do %>
                <span><%= I18n.t('whoweare') %></span>
              <% end %>
            </li>
            <li>
	         <%= link_to_unless_current I18n.t('whatdowedo'), que_hacemos_path do %>
                <span><%= I18n.t('whatdowedo') %></span>
              <% end %>
            </li>
            <li>
	          <%= link_to_unless_current I18n.t('howdowedo'), como_lo_hacemos_path do %>
                <span><%= I18n.t('howdowedo') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current I18n.t('client'), clientes_path do %>
                <span><%= I18n.t('client') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current I18n.t('team'), equipo_path do %>
                <span><%= I18n.t('team') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current I18n.t('video'), videos_path do %>
                <span><%= I18n.t('video') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to_unless_current I18n.t('address'), contacto_path do %>
                <span><%= I18n.t('address') %></span>
              <% end %>
            </li>
            <% if session[:user_id] %>
            <li>
	          <%= link_to 'Desconectarse', 'logout' %>
	        </li>
	        <% end %>

          </ul>
