<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <%= stylesheet_link_tag '/javascripts/adapt/adapt.css' %>
  <%= stylesheet_link_tag '/javascripts/accordion/themes/base/jquery.ui.all.css', 'style.css' %>

  <%= javascript_include_tag '/javascripts/jquery.js', '/javascripts/jquery-ui.js', '/javascripts/jquery_ujs' %>
  <%= javascript_include_tag '/javascripts/adapt/adapt-init.js', '/javascripts/adapt/adapt.min.js' %>
  <%= javascript_include_tag '/javascripts/accordion/ui/jquery.ui.core.js', '/javascripts/accordion/ui/jquery.ui.widget.js', '/javascripts/accordion/ui/jquery.ui.accordion.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= yield :javascript %>

  <%= favicon_link_tag "/favicon.png" %>
  <%= csrf_meta_tag %>

  <meta name="description" content="Trabajamos mejorando la comunicación interna en las empresas, para que su equipo de trabajo funcione como un engranaje ajustado a la misión y visión de la empresa. Nuestro entrenamiento logra mejorar las relaciones interpersonales. Así como la relación de los trabajadores con los clientes." />
  <meta name="keywords" content="Coaching para empresas, talleres para empresas, estrategias de comunicación" />
  <meta name="robot" content="index,follow" />
  <meta name="copyright" content="Copyright &copy; <%= Time.now.year %> Contacto Coaching." />
  <meta name="author" content="Kosmyka.com" />
  <meta name="language" content="Spanish" />
  <meta name="revisit-after" content="1" />
  <meta name="googlebot" content="index,follow" />
  <meta name="city" content="Lima" />
  <meta name="country" content="Peru" />
  <meta name="state" content="Lima" />
  <meta name="zip code" content="Lima 4" />
  <meta name="subject" content="Contacto Coaching" />
  <meta name="geo.position" content="-9;-75" />
  <meta name="geo.country" content="PE" />
  <meta name="geo.region" content="PE-LIM" />

</head>
<body id="<%= body_id %>" class="<%= body_class %>">



<div id="container-bg1">
  <div id="container-bg2">

    <div class="container_12">
      <!-- START: sidebar-first -->
      <div id="sidebar-first" class="grid_4">
        <div id="header">
          <%= render 'layouts/menu' %>
          <%= link_to image_tag("logo.png"), root_path, :id => 'logo' %>

        </div>


     </div>
     <!-- END: sidebar-first -->

     <!-- START: sidebar-second -->
     <div id="sidebar-second" class="grid_7">
       <div id="preface-top">
         <%= render 'layouts/menu-language' %>
       </div>

       <div id="content" class="grid_6 prefix_1">
         <%= yield %>
       </div>
     </div>
     <!-- END: sidebar-second -->


    </div>
    <!-- END: container_12 -->


  </div>
</div>

</body>
</html>
