<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <%= render 'layouts/metas' %>

  <%= stylesheet_link_tag '/adapt/1200.css' %>
  <%= stylesheet_link_tag '/javascripts/accordion/themes/base/jquery.ui.all.css', 'style.css' %>

  <%= javascript_include_tag '/javascripts/jquery.js', '/javascripts/jquery-ui.js', '/javascripts/jquery_ujs' %>
  <%= javascript_include_tag '/javascripts/accordion/ui/jquery.ui.core.js', '/javascripts/accordion/ui/jquery.ui.widget.js', '/javascripts/accordion/ui/jquery.ui.accordion.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= yield :javascript %>

  <%= favicon_link_tag "/favicon.png" %>
  <%= csrf_meta_tag %>



</head>
<body id="<%= body_id %>" class="<%= body_class %>">



<div id="container-bg1">
  <div id="container-bg2">

    <div class="container_12">
      <!-- START: sidebar-first -->
      <div id="sidebar-first" class="grid_4">
        <div id="header">
          <%= render 'layouts/menu' %>
          <%= link_to image_tag("logo.png"), root_path, :id => 'logo' %>

        </div>


     </div>
     <!-- END: sidebar-first -->

     <!-- START: sidebar-second -->
     <div id="sidebar-second" class="grid_7">
       <div id="preface-top">
         <%= render 'layouts/menu-language' %>
       </div>

       <div id="content" class="grid_6 prefix_1">
         <%= yield %>
       </div>
     </div>
     <!-- END: sidebar-second -->



    </div>
    <!-- END: container_12 -->


  </div>
</div>


<div id="footer">
  <div class="container_12">
     <div id="author">
       <a href="http://www.kosmyka.com" target="_blank"><span>Desarrollo web</span><img src="/images/kosmyka.png" /></a>
     </div>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21505372-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
